body{
    background-color: rgb(98, 121, 121);
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.datos p{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic; 

}

#presentacion{
    background-image: url(../images/presentar.jpeg); 
    margin-top: 50px;
    padding: 150px;
}





