body{
    background-color: azure;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.presentacion{ 
    margin-top: 50px;
    padding: 150px;
    background-image: url(../images/presentar.jpeg);
    background-size: auto;
    backface-visibility: unset;

}

.datos p{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic; 

}



